#root {
  margin-top: 2em;
}

.shape-type-container {
  background-color: #007bff;
  text-align: center;
  color: white;
}

.shape-container {
  background-color: #e9ecef;
}

.root-note-form, .shape-form {
  padding: 1em 0;
}

.root-note-form {
  padding-bottom: 0;
  margin: 0 auto;

  label {
    padding-right: 1em;
  }
  
  input[type="text"] {
    width: 5em;
  }
}

.guitar {
  table-layout: fixed;
  margin-top: 3em;

  .active-note, .active-open-string {
    font-weight: 700;
  }

  .hidden-note {
    color: lightgrey;
  }

  tr {
    th, td {
      border: 0px solid grey;
      padding: 3px 0;
      text-align: center;
    }

    td {
      border-width: 0 1px 0 0;
      position: relative;
      
      span {
        background-color: white;
        padding: 3px;
      }
      
      &::before {
        content: "";
        border: 1px solid silver;
        width: 100%;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        z-index: -1;
      }
    }
  }

  tbody th {
    border-width: 0 3px 0 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  thead th {
    border: 0;
    color: grey;
    font-weight: 400;
    
    &::before {
      border: 0;
    }

    &:first-of-type {
      width: 4.5rem;
    }
    
    &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8), &:nth-of-type(10) {
      font-weight: bold;
    }
  }
}
