body {
  font-family: 'Fira Sans', sans-serif;
}

#root {
  margin: 3em auto;
  max-width: 800px;
}

.root-note-form {
  padding-bottom: 2em;
  margin: 0 auto;

  label {
    padding-right: 1em;
  }
  
  input[type="text"] {
    width: 5em;
  }
}

.guitar .row {
  .col {
    border: 0px solid grey;
    border-width: 0 1px 0 0;
    padding: 3px 0;
    text-align: center;
    position: relative;
    
    span {
      background-color: white;
      padding: 3px;
    }
    
    &::before {
      content: "";
      border: 1px solid silver;
      width: 100%;
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      z-index: -1;
    }
    
    &:first-of-type {
      border-width: 0 3px 0 0;
      
      &::before {
        border: 0;
      }
    } 
  }
  
  &:first-of-type {
    .col {
      border: 0;
      color: grey;
      
      &::before {
        border: 0;
      }
      
      &:nth-of-type(4), &:nth-of-type(6), &:nth-of-type(8), &:nth-of-type(10) {
        font-weight: bold;
      }
    }
  }
}